@import url('https://fonts.googleapis.com/css?family=Exo');
@import "variables";

* {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
    background: $selection;
}

html, body {
  background: linear-gradient(to right, #E75A7C, #141B41);
  background-size: cover;
  height: 100%;
}

// HEADER
.header {
  // border-top: $white 10px solid;
  text-align: center;
  .image {
    .avatar {
    width: 256px;
    margin-top: 50px;
    border: $border 10px solid;
    border-radius: 50%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    .name {
      color: $name-color;
      font-weight: bold;
      letter-spacing: .1em;
    }
    .job {
      color: $white;
      font-size: 1.2em;
    }
  }
  .social-media {
    text-align: center;
    text-decoration: none;
    display: inline-block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .fa-behance {
      color: $white;
      font-size: 2em;
      margin-left: 10px;
      // border-right: $border 2px solid;
      padding: 10px;
      transition: 300ms;
      &:hover {
        color: $behance;
        text-decoration: none;
        transition: 300ms;
      }
    }
    .fa-codepen {
      color: $white;
      font-size: 2em;
      margin-left: 10px;
      // border-right: $border 2px solid;
      padding: 10px;
      transition: 300ms;
      &:hover {
        color: $codepen;
        text-decoration: none;
        transition: 300ms;
      }
    }
    .fa-twitter {
      color: $white;
      font-size: 2em;
      margin-left: 10px;
      // border-right: $border 2px solid;
      padding: 10px;
      transition: 300ms;
      &:hover {
        color: $twitter;
        text-decoration: none;
        transition: 300ms;
      }
    }
    .fa-google-plus {
      color: $white;
      font-size: 2em;
      margin-left: 10px;
      // border-right: $border 2px solid;
      padding: 10px;
      transition: 300ms;
      &:hover {
        color: $gplus;
        text-decoration: none;
        transition: 300ms;
      }
    }
    .fa-instagram {
      color: $white;
      font-size: 2em;
      margin-left: 10px;
      transition: 300ms;
      &:hover {
        color: $instagram;
        text-decoration: none;
        transition: 300ms;
      }
    }
  }
}
