//COLORS FOR GRADIENT BACKGROUND
$blue-grad: #6392FF;
$red-grad: #FF7575;

//COLORS
$header: #b93c2f;
$black: #212129;
$white: #fff;
$border: #df4e4e;
$name-color: #f1c40f;
$selection: #47bf9b;

//COLORS FOR TEXT GRADIENT
$txt-grad1: #408fb6;
$txt-grad2: #5dbf99;

//SOCIAL MEDIA COLORS
$behance: #1769FF;
$codepen: #212129;
$twitter: #1DA1F2;
$gplus: #E04C40;
$instagram: #527EA3;
